@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  margin: 0;
  font: 16px/1.4em 'PT Sans', sans-serif;
  color: #1c1c1c;
}

p, ul {
  margin: 0 0 1.5em;
}

ul {
  padding: 0 0 0 20px;
}

a {
  color: inherit;
}

h1 {
  line-height: 1.4em;
}

h2 {
  font-family: 'PT Serif', serif;
  font-size: 2em;
  line-height: 1.4em;
  margin: 0 0 0.4em;
  font-weight: bold;
}

article {
  border-bottom: 1px solid #eeeeee;
  padding: 10px 20px 0 20px;
  margin: 10px 0;
}

.wrapper {
  position: relative;
  width: 100%;
  margin: auto;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #4e4e4e;
}

.typewrite {
  color: #000;
  text-decoration: none;
}

.section-heading {
  margin: 0;
  padding: 0;
}

.section-heading li {
  display: inline-block;
  font-size: 1.5em;
}

.section-heading li:nth-child(2) {
  float: right;
  margin-right: 5%;
}

body {
  background: #5f96ac;
  /* Add animation to "page content" */
}

body #loader {
  position: absolute;
  background-color: #5f96ac;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 16px solid #5f96ac;
  border-top: 16px solid #d71a21;
  border-bottom: 16px solid #f8ddab;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body .animate-bottom {
  position: relative;
  display: none;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

header {
  background: inherit;
  padding: 15px 20px;
  zoom: 1;
  /*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
}

header:before, header:after {
  content: "";
  display: table;
}

header:after {
  clear: both;
}

#logo i {
  margin-top: -8px;
  float: left;
  height: 45px;
  width: 50px;
  background: url("../img/logo.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#logo span {
  margin-left: 12px;
  text-decoration: none;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
  color: #00324D;
  font-size: 0.9em;
  float: left;
  line-height: 15px;
  letter-spacing: 0.2em;
}

a.to_nav {
  text-decoration: none;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
  float: right;
  color: white;
  background: #00324D;
  padding: 8px;
  font-size: 0.8em;
  height: 10px;
  line-height: 10px;
  letter-spacing: 0.1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

a.to_nav:hover, a.to_nav:focus {
  color: #1c1c1c;
  background: #eeeeee;
}

/*navigation*/
#primary_nav ul {
  background: #00324D;
  padding: 5px 0;
  margin: 0;
}

#primary_nav li {
  text-align: center;
  vertical-align: middle;
}

#primary_nav li:last-child a {
  border-bottom: none;
}

#primary_nav a {
  display: block;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  letter-spacing: 0.1em;
  line-height: 2em;
  height: 2em;
  border-bottom: 1px solid #1c1c1c;
}

#primary_nav a:hover, #primary_nav a:focus {
  color: #00324D;
  background: #fff;
}

.cover {
  height: auto;
  position: relative;
}

.cover img {
  width: 100%;
}

.cover h1 {
  position: absolute;
  display: block;
  font-weight: 800;
  left: 10%;
  top: 71%;
  transform: scale(1.2, 1.2);
  text-shadow: 0 3px 3px #00324D;
  letter-spacing: 0.02em;
  color: #fff;
}

.cover #submenu {
  margin-top: -7px;
  height: 30px;
  width: 100%;
}

.cover a {
  height: inherit;
  float: left;
  margin-right: 0;
  margin-bottom: 0;
  width: 33.33333%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 0.65em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 30px;
  transform: scale(1, 1.1);
  font-weight: 900;
  background-color: #00324D;
}

.cover a:nth-child(3n) {
  margin-right: 0;
}

.cover a:hover {
  background: #656565;
  color: white;
}

#typewriter1 {
  height: 67px;
}

#typewriter1 h1 {
  text-align: center;
  vertical-align: middle;
  font: bold 1.3em Consolas, Monaco, monospace;
  width: 90%;
  margin: 25px 5%;
}

#typewriter1 span {
  color: #00324D;
}

#intro {
  margin: 25px 5%;
  text-align: center;
  vertical-align: middle;
}

#intro ul {
  margin: 0;
  padding: 0;
}

#intro li {
  letter-spacing: 0.1em;
}

#about {
  padding: 5% 0;
  background-color: #5f96ac;
  color: #eeeeee;
}

#about ul {
  font-size: 1.2em;
  padding-left: 5%;
  letter-spacing: 0.1em;
}

#about #about-texts p {
  margin: 5%;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.3em;
}

#skills {
  padding: 5% 0;
  background-color: #d71a21;
  color: #f8ddab;
}

#skills ul {
  font-size: 1.2em;
  padding-left: 5%;
  letter-spacing: 0.1em;
}

#skills h3, #skills p {
  margin: 0 5%;
}

#skills h3 {
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 0.05em;
  line-height: 1.2em;
}

#skills p {
  padding-bottom: 15px;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.3em;
}

#testimonials {
  background-color: #4e4e4e;
  color: #eeeeee;
  padding: 5% 0;
}

#testimonials .scrolling-controls ul {
  padding: 0;
}

#testimonials img {
  width: 100px;
  height: 100px;
}

#testimonials blockquote {
  height: 485px;
}

#testimonials ul {
  font-size: 1.2em;
  padding-left: 5%;
  letter-spacing: 0.1em;
}

#testimonials .scroll-wrapper {
  background: inherit;
  margin: 20px auto;
  text-align: center;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 20px !important;
  width: 90%;
}

#testimonials .scrolls {
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
  white-space: nowrap;
}

#testimonials .scrolls article {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: auto;
  padding: 0;
  border-bottom: none;
}

#testimonials .scrolls article .arrow-testimonials {
  margin-top: 55%;
  transform: scale(1, 2);
}

#testimonials .scrolls article .arrow-code {
  margin-top: 9%;
  transform: scale(1, 2);
}

#testimonials .scrolls blockquote {
  display: block;
  width: 82%;
  margin: 2px;
  padding: 2%;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  white-space: initial;
}

#testimonials .scrolls p {
  padding-left: 1%;
  font-weight: 800;
  letter-spacing: 0.05em;
  transform: scale(1, 1.1);
  quotes: "“" "”" "‘" "’";
}

#testimonials .scrolls p:before {
  content: open-quote;
  font-size: 2.5em;
  line-height: 0.1em;
  margin-right: 0.20em;
  vertical-align: -0.4em;
}

#testimonials .scrolls p:after {
  content: close-quote;
  font-size: 2.5em;
  line-height: 0.1em;
  margin-left: 0.20em;
  vertical-align: -0.5em;
}

#testimonials .scrolls img {
  border-radius: 50px;
}

#testimonials .scrolls h3 {
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

#testimonials p {
  color: #eeeeee;
}

#testimonials .linkedin-testimonials {
  position: relative;
  top: -40px;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.5);
}

#featured-code {
  background-color: #f8ddab;
  color: #4e4e4e;
  padding: 5% 0;
}

#featured-code pre {
  background-color: #f8ddab;
}

#featured-code .scrolling-controls ul {
  background-color: red;
  color: #fff;
  padding-left: 0;
}

#featured-code blockquote {
  height: 750px;
}

#featured-code ul {
  font-size: 1.2em;
  padding-left: 5%;
  letter-spacing: 0.1em;
}

#featured-code .scroll-wrapper {
  background: inherit;
  margin: 20px auto;
  text-align: center;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 20px !important;
  width: 90%;
}

#featured-code .scrolls {
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
  white-space: nowrap;
}

#featured-code .scrolls article {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: auto;
  padding: 0;
  border-bottom: none;
}

#featured-code .scrolls article .arrow-testimonials {
  margin-top: 55%;
  transform: scale(1, 2);
}

#featured-code .scrolls article .arrow-code {
  margin-top: 9%;
  transform: scale(1, 2);
}

#featured-code .scrolls blockquote {
  display: block;
  width: 82%;
  margin: 2px;
  padding: 2%;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  white-space: initial;
}

#featured-code .scrolls p {
  padding-left: 1%;
  font-weight: 800;
  letter-spacing: 0.05em;
  transform: scale(1, 1.1);
  quotes: "“" "”" "‘" "’";
}

#featured-code .scrolls p:before {
  content: open-quote;
  font-size: 2.5em;
  line-height: 0.1em;
  margin-right: 0.20em;
  vertical-align: -0.4em;
}

#featured-code .scrolls p:after {
  content: close-quote;
  font-size: 2.5em;
  line-height: 0.1em;
  margin-left: 0.20em;
  vertical-align: -0.5em;
}

#featured-code .scrolls img {
  border-radius: 50px;
}

#featured-code .scrolls h3 {
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

#featured-code h2 {
  color: #00324D;
}

#featured-code p {
  color: #a00e0e;
}

/*footer*/
footer {
  height: 50px;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  border-top: solid 1px #eeeeee;
  color: #00324D;
}

footer p {
  height: inherit;
  float: left;
  margin-right: 0;
  margin-bottom: 0;
  width: 33.33333%;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-variant: small-caps;
}

footer p:nth-child(3n) {
  margin-right: 0;
}

footer span {
  transform: scale(1, 0.5);
}

footer #social {
  font-size: 1.8em;
}

footer #linkedin {
  margin-left: 20%;
}

footer #github {
  margin-rigth: 20%;
}

#cover-sidebar {
  display: none;
}

@media only screen and (min-width: 768px) {
  a.to_nav {
    display: none;
  }
  #primary_nav {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    display: inherit;
    margin: inherit;
    max-width: inherit;
    background: none;
  }
  #primary_nav ul {
    background: none;
  }
  #primary_nav li {
    display: inline;
  }
  #primary_nav a {
    float: left;
    border: none;
    padding: 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-bottom: none;
    color: #00324D;
  }
  #primary_nav .top {
    display: none;
  }
  #mobile-cover {
    display: none;
  }
  #cover-sidebar {
    top: 68px;
    position: fixed;
    display: inline-block;
    width: 30%;
    height: 30vw;
  }
}
