@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  font: 16px/1.4em 'PT Sans', sans-serif;
  color: #1c1c1c;
}

p, ul {
  margin: 0 0 1.5em;
}

ul {
  padding: 0 0 0 20px;
}

a {
  color: inherit;
}

h1 {
  line-height: 1.4em;
}

h2 {
  font-family: 'PT Serif', serif;
  font-size: 2em;
  line-height: 1.4em;
  margin: 0 0 0.4em;
  font-weight: bold;
}

article {
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 20px 0 20px;
  margin: 10px 0;
}

/*layout*/
.wrapper {
  position: relative;
  width: 100%;
  margin: auto;
}

/* aditional classes */
.divider {
  width: 100%;
  height: 2px;
  background-color: #4e4e4e;
}

.typewrite {
  color: #000;
  text-decoration: none;
}

.section-heading {
  margin: 0;
  padding: 0;
}

.section-heading li {
  display: inline-block;
  font-size: 1.5em;
}

.section-heading li:nth-child(2) {
  float: right;
  margin-right: 5%;
}

.scroll-wrapper {
  background: inherit;
  margin: 20px auto;
  text-align: center;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 20px !important;
  width: 90%;
}

.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  white-space: nowrap;
}

.scrolls article {
  display: inline-block;
  width: 100%;
  height: 480px;
  padding: 0;
  border-bottom: none;
}

.scrolls article i {
  transform: scale(1, 2);
  margin-top: 48%;
}

.scrolls blockquote {
  display: block;
  width: 82%;
  margin: 2px;
  height: auto;
  padding: 2%;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  white-space: initial;
}

.scrolls p {
  padding-left: 1%;
  font-weight: 800;
  letter-spacing: 0.05em;
  transform: scale(1, 1.1);
  quotes: "“" "”" "‘" "’";
}

.scrolls p:before {
  color: #ccc;
  content: open-quote;
  font-size: 2.5em;
  line-height: 0.1em;
  margin-right: 0.20em;
  vertical-align: -0.4em;
}

.scrolls p:after {
  color: #ccc;
  content: close-quote;
  font-size: 2.5em;
  line-height: 0.1em;
  margin-left: 0.20em;
  vertical-align: -0.5em;
}

.scrolls img {
  border-radius: 50px;
}

.scrolls h3 {
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

/*header*/
header {
  background: inherit;
  padding: 15px 20px;
  zoom: 1;
  /*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
}

header:before, header:after {
  content: "";
  display: table;
}

header:after {
  clear: both;
}

#logo i {
  margin-top: -8px;
  float: left;
  height: 45px;
  width: 50px;
  background: url("../img/logo.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#logo span {
  margin-left: 12px;
  text-decoration: none;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
  color: #4e4e4e;
  font-size: 0.9em;
  float: left;
  line-height: 15px;
  letter-spacing: 0.2em;
}

a.to_nav {
  text-decoration: none;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
  float: right;
  color: white;
  background: #4e4e4e;
  padding: 8px;
  font-size: 0.8em;
  height: 10px;
  line-height: 10px;
  letter-spacing: 0.1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

a.to_nav:hover, a.to_nav:focus {
  color: #1c1c1c;
  background: #ccc;
}

/*navigation*/
#primary_nav ul {
  background: #1c1c1c;
  padding: 5px 0;
}

#primary_nav li {
  text-align: center;
  vertical-align: middle;
}

#primary_nav li:last-child a {
  border-bottom: none;
}

#primary_nav a {
  display: block;
  padding: 0 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  letter-spacing: 0.1em;
  line-height: 2em;
  height: 2em;
  border-bottom: 1px solid #383838;
}

#primary_nav a:hover, #primary_nav a:focus {
  color: #1c1c1c;
  background: #ccc;
}

#cover {
  height: auto;
  position: relative;
}

#cover img {
  width: 100%;
}

#cover h1 {
  position: absolute;
  display: block;
  font-size: 1.2em;
  left: 5%;
  top: 78%;
  color: #fff;
}

#cover #cover-footer {
  height: 50px;
  width: 100%;
  margin-top: -7px;
  padding-top: 7px;
  color: white;
  background-color: #4e4e4e;
}

#cover #submenu {
  background-color: #ccc;
  height: 30px;
  width: 100%;
}

#cover a {
  height: inherit;
  float: left;
  margin-right: 0;
  margin-bottom: 0;
  width: 33.33333%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 30px;
  transform: scale(1, 1.1);
  font-weight: 900;
  background-color: #383838;
}

#cover a:nth-child(3n) {
  margin-right: 0;
}

#cover a:hover {
  background: #656565;
  color: white;
}

#typewriter {
  height: 67px;
}

#typewriter h1 {
  text-align: center;
  vertical-align: middle;
  font: bold 1.3em Consolas, Monaco, monospace;
  width: 90%;
  margin: 25px 5%;
}

#typewriter span {
  color: #383838;
}

#intro {
  margin: 25px 5%;
  text-align: center;
  vertical-align: middle;
}

#intro ul {
  margin: 0;
  padding: 0;
}

#intro li {
  letter-spacing: 0.1em;
}

#testimonials {
  background-color: #4e4e4e;
  color: #fff;
  font-size: 120%;
  padding-left: 5%;
  letter-spacing: .1em;
}

#testimonials .scrolling-controls ul {
  padding: 0;
  background-color: #ccc;
  color: #1c1c1c;
}

#code-gallery {
  background-color: #ccc;
  color: #4e4e4e;
  font-size: 120%;
  padding-left: 5%;
  letter-spacing: .1em;
}

#code-gallery .scrolling-controls ul {
  background-color: #1c1c1c;
  color: #fff;
  padding-left: 0;
}

/*footer*/
footer {
  height: 50px;
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  border-top: solid 1px #d8d8d8;
}

footer p {
  height: inherit;
  float: left;
  margin-right: 0;
  margin-bottom: 0;
  width: 33.33333%;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-variant: small-caps;
}

footer p:nth-child(3n) {
  margin-right: 0;
}

footer span {
  transform: scale(1, 0.5);
}

footer #social {
  font-size: 1.8em;
}

@media only screen and (min-width: 768px) {
  a.to_nav {
    display: none;
  }
  #primary_nav {
    position: absolute;
    top: 5px;
    right: 10px;
    display: inherit;
    margin: inherit;
    max-width: inherit;
    background: none;
  }
  #primary_nav ul {
    background: none;
  }
  #primary_nav li {
    display: inline;
  }
  #primary_nav a {
    float: left;
    border: none;
    padding: 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-bottom: none;
    color: #4e4e4e;
  }
  #primary_nav .top {
    display: none;
  }
}
