@media only screen and (min-width: 450px) {
  //Landscape mobile styles (wider than 450 pixels)
  #landingBlock {
    #subheading {
      font-size: 5vw;
      line-height: 5vw;
    }
    .button {
      font-size: 4vw;
    }
  }
  #about img {
    max-width: 30vw;
    max-height: 70vh;
  }

}

@media only screen and (min-width: 620px) {
  //Tablet styles (wider than 600 pixels)

  #landingBlock {
    margin: 15vh 15vw;
    h1 { font: 4vw $bigHeadings; }
    #subheading {
      font: 3vw $subHeadings;
      line-height: 7vh;
    }
    .button {
      display:inline-block;
      color: $alabaster;
      letter-spacing: 1px;
      font-family: $titlesAndShowcase;
      font-size: 3vw;
      border: none;
      background-color: $outerSpace;
      padding: 3%;
      transition: 0.6s;
      &:hover, &:focus {
        text-decoration: none;
        background-color: $viking;
      }
     }

    #btn-testimonials {
      margin-left: 10%;
      float: left;
    }
    #btn-featured-code {
      margin-top: 0px;
      margin-right: 10%;
      float: right;
    }
  }
  #about {
    img {
      max-height: 70vh;
      max-width: 25vw;
    }
    #about-container div:nth-child(2){ margin-top: 5vh; }
    #about-texts p {
        font-size: 4vh;
        line-height: 5vh;
    }
  }

  #skills {
    h3 { font-size: 5vh; }
    p { font-size: 3vh; }
  }
}


@media only screen and (min-width: 768px) {
  // Small laptop styles (wider than 768px pixels)#primary_nav {

  #primary_nav {
    ul {
      background: none;
    }
    position: absolute;
    right: 8vw;
    margin: inherit;
    max-width: inherit;
    background: none;
    li {
      display: inline;
    }
    a {
      float: left;
      font-weight: 300;
      padding: 0 20px;
      text-decoration: none;
      letter-spacing: 1.5px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      border-bottom: none;
      color: $white;
      transition: 0.5s ease;
      &:hover, &:focus {
        color: $outerSpace;
        text-decoration: none;
      }
    }
  }
  #about { background-attachment: fixed; }
  #about #about-container img {
    max-width: 30vw;
  }
  #skills {
    h3 { font-size: 3vh; }
    p { font-size: 2vh; }
  }
  #featured-code {
    pre {
      max-height: 55vh;
      .language-javascript, .language-html, .language-css {
        font-size: 2.5vh;
        line-height: 3.5vh;
      }
    }
    blockquote a {
      margin-top: 5%;
      font-size: 3vh;
      position: relative;
    }
  }
}

@media only screen and (min-width: 1024px) {
  // Large laptop styles (wider than 1024 pixels)

  #landingBlock {
    h1 { font-size: 4vw; }
    #subheading { font-size: 3vw; }
  }
  #about {
    #about-container div:nth-child(2) { margin-top: 10vh; }
    #about-texts p {
    margin-left: 10vw;
    font-size: 4vh;
  }
  img { width: 25vw; }
  }
  #testimonials {
    .scroll-wrapper { width: 100%; }
  }

  #featured-code {
    .scroll-wrapper { width: 100%; }
    blockquote a { position: absolute; }
  }

}

@media only screen and (min-width: 1140px) {
  // Desktop styles (wider than 1140 pixels)
  #landingBlock {
    h1 { font: 3vw $bigHeadings; }
    #subheading {
      font: 6vh $subHeadings;
      line-height: 7vh;
    }
    .button {

      font-size: 2vw;
      padding: 2%;
     }

    #btn-testimonials {
      margin-left: 20%;
    }
    #btn-featured-code {
      margin-right: 20%;
    }
  }
  #about {
    #about-container div:nth-child(2) { margin-top: 5vh; }
    #about-texts p {
      font-size: 4vh;
      line-height: 6vh;
    }
    img { width: 20vw; }
  }
}

@media only screen and (min-width: 1280px) {
  #landingBlock {
    #subheading { line-height: 6vh; }
  }
}
@media (min-height: 1280px) and (min-width: 800px) {
  #skills {
    h3 {
      font-size: 3vh;
      line-height: 4vh;
    }
    p {
      font-size: 2vh;
      line-height: 3vh;
    }
  }
}
@media (min-height: 1280px) and (min-width: 800px) {
  // nexus 10
  #featured-code {
    pre {
      max-height: 55vh;
      .language-javascript, .language-html, .language-css {
        font-size: 2.5vh;
        line-height: 3.5vh;
      }
    }
    blockquote a {
      margin-top: 5%;
      font-size: 4vh;
      position: relative;
    }
  }
}
@media (min-height: 2560px) and (min-width: 1600px) {
  // Kindle Fire HDX portrait
  #primary_nav {
    a {
      font-size: 2vw;
      padding: 0 40px;
      letter-spacing: 3px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }

  #landingBlock {
    h1 { font-size: 6vw; }
    #subheading {
      font-size: 4vw;
      line-height: 4vh;
    }
    .button { font-size: 3vw; }
  }
  #skills {
    h3 {
      font-size: 3vh;
      line-height: 4vh;
    }
    p {
      font-size: 2vh;
      line-height: 3vh;
    }
  }
  #featured-code {
    pre {
      max-height: 55vh;
      .language-javascript, .language-html, .language-css {
        font-size: 2.5vh;
        line-height: 3.5vh;
      }
    }
    blockquote a {
      margin-top: 5%;
      font-size: 4vh;
      position: relative;
    }
  }

}

@media only screen and (min-width: 2560px) {
  // tv format
  #primary_nav {
    a { font-size: 2vw;}
  }

  #logo {
    i {
      height: 70px;
      width: 70px;
    }
    #brand-name { font-size: 1vw; }
    #brand-prof {
      line-height: 40px;
      font-size: 1vw;
    }
  }
  #testimonials {
    .scrolls p {
      font-size: 5vh;
      line-height: 6vh;
    }
  }
  #featured-code {
    pre {
      max-height: 70vh;
      .language-javascript, .language-html, .language-css {
        font-size: 2.5vh;
        line-height: 3.5vh;
      }
    }
    blockquote a {
      margin-top: 5%;
      font-size: 4vh;
      position: relative;
    }
  }
}
