@media only screen and (min-width: 321px) {
  //Larger mobile styles (wider than 320 pixels)
}

@media only screen and (min-width: 600px) {
  //Tablet styles (wider than 600 pixels)
  #cover-img h1 { font-size: 1.6em; }

}


@media only screen and (min-width: 768px) {
  // Small laptop styles (wider than 768px pixels)
#logo {
  i { height: 4em; }
  span {
    margin-left: 3%;
    color: $hippieBlue;
    line-height: 1.5em;
    font-size: 1.2em;
  }
}
  a.to_nav { display: none; }

  #primary_nav {
    display: block;
    ul {
       background: none;
     }
    position: absolute;
    top: 20px;
    right: 10px;
    display: inherit;
    margin: inherit;
    max-width: inherit;
    background: none;
    li { display: inline; }
    a {
      float: left;
      border: none;
      padding: 0 20px;
      letter-spacing: 1.5px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      border-bottom: none;
      color: $hippieBlue;
      transition: 0.5s ease;
      &:hover, &:focus {
        border-top: 1px solid $hippieBlue;
        background-color: #fff;
        color: $hippieBlue;
      }
    }
    .top { display: none; }
  }

  main {
    height: 460px;
    border-top: 1px solid $smoothYellow;
    background-color: $smoothYellow;
  }

  #cover-img {
    width: auto;
    height: auto;
    float: left;
    h1 { font-size: 1.6em; }
  }
  #cover {
    margin-left: 373px;
    #typewriter1 h1 { margin-top: 100px; }
    #intro {
      margin-top: 1.5em;
      font-size: 1.8em;
      line-height: 1.5em;
    }
  }
  #submenu-mobile {
    height: 0;
  }
  #submenu-desktop {
    height: 40px;
    margin-top: 0;
    a {
      font-size: 1em;
      line-height: 40px;
      transition: 0.5s ease;
    }
  }
}


@media only screen and (min-width: 1024px) {
  // Large laptop styles (wider than 1024 pixels)
}

@media only screen and (min-width: 1140px) {
  // Desktop styles (wider than 1140 pixels)
}
