// text mixins

@mixin center {
  text-align: center;
  vertical-align: middle;
}


@mixin navTags {
  text-decoration: none;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
}

@mixin mQ($arg...) {
  @if length($arg) == 1 {
    @media screen and (min-width: nth($arg, 1)) {
      @content;
    }
  }
  @if length($arg) == 2 {
    @media screen and (min-width: nth($arg, 1)) and (max-width: nth($arg, 2)){
      @content;
    }
  }
}

@mixin grid($cols, $mgn) {
  float: left;
  margin-right: $mgn;
  margin-bottom: $mgn;
  width: ((100% - (($cols - 1) * $mgn)) / $cols );
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}

@mixin layerIndex-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

@mixin typingKeyframes {
  @-webkit-keyframes typing { from { width: 0; } }
  @-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
}

@mixin homeSectionDisplay {
  padding: 5% 0;
  ul {
    font-size: 1.2em;
    padding-left: 5%;
    letter-spacing: 0.1em;
  }
}

@mixin scrollingSection {
  .scroll-wrapper {
    background: inherit;
    margin: 20px auto;
    text-align: center;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 20px !important;
    width: 90%;
  }
  .scrolls {
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    white-space:nowrap;

    article {
      display: inline-block;
      @include center;
      width: 100%;
      height: auto;
      padding: 0;
      border-bottom: none;
      .arrow-testimonials {
        margin-top: 48%;
        transform: scale(1, 2);
       }
      .arrow-code {
        margin-top: 9%;
        transform: scale(1, 2);
      }
    }
    blockquote {
      display: block;
      width: 82%;
      margin: 2px;
      padding: 2%;
      cursor: pointer;
      display:inline-block;
      *display:inline;
      *zoom:1;
      vertical-align: top;
      white-space: initial;
    }
    p {
      padding-left: 1%;
      font-weight: 800;
      letter-spacing: 0.05em;
      transform: scale(1, 1.1);
      quotes: "\201C""\201D""\2018""\2019";
      &:before {
        content: open-quote;
        font-size: 2.5em;
        line-height: 0.1em;
        margin-right: 0.20em;
        vertical-align: -0.4em;
      }
      &:after {
        content: close-quote;
        font-size: 2.5em;
        line-height: 0.1em;
        margin-left: 0.20em;
        vertical-align: -0.5em;
      }
    }


    img { border-radius: 50px; }
    h3{
      font-variant: small-caps;
      letter-spacing: 0.1em;
    }
  }
}

@mixin featuredCodeStyles {
  .var-highlight { color: $hippieBlue; }
  .string-highlight { color: $tamarilo; }
  .naming-highlight { color: $schoolBusYellow; }

  pre {
    tab-size: 10px;
    padding: -10px;
    text-align: left;
    height:auto;
    background: $gallery;
    margin: 0;
    font-size: 0.8em;
    padding: 10px;
    overflow: auto;
  }
  code { white-space: auto; }
  .fa-github-square {
    transform: scale(1.0, 1.2);
    margin-top: 10%;
  }
}
