
@mixin center {
  text-align: center;
  vertical-align: middle;
}

@mixin navTags {
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}

@mixin mobileNav {

  .overlay {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(41, 49, 50);
    background-color: rgba(41, 49, 50, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: $alabaster;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
    color: $viking;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}

@mixin homeSectionDisplay {
  padding: 3vh 0;
  ul {
    font-size: 4vh;
    padding-left: 5vw;
    letter-spacing: 0.1vw;
  }
}


@mixin scrollingSection {
  .scroll-wrapper {
    height: 80%;
    background: inherit;
    margin: 4vh auto;
    text-align: center;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 90vw;
  }
  .scrolls {
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    white-space:nowrap;

    article {
      display: inline-block;
      @include center;
      height: 100%;
      padding: 0;
      border-bottom: none;
      .arrow-testimonials {
        margin-top: 25vh;

        transform: scale(1, 2);
      }
      .arrow-code {
        margin-top: 9vh;
        transform: scale(1, 2);
      }
    }
    blockquote {
      height: 100vh;
      width: 82%;
      cursor: pointer;
      display:inline-block;
      *display:inline;
      *zoom:1;
      vertical-align: top;
      white-space: initial;
    }
    p {

      font-weight: 400;
      letter-spacing: 0.05vw;
      transform: scale(1, 1.1);
      line-height: 5vh;
      quotes: "\201C""\201D""\2018""\2019";
      &:before {
        vertical-align: -1vh;
        content: open-quote;
        font-size: 6vh;
        margin-right: 0.20vw;

      }
      &:after {
        content: close-quote;
        font-size: 6vh;
        margin-left: 0.20vw;
        vertical-align: -2vh;
      }
    }

    h3{
      margin: 2vh 2vw;
      font-size: 4vh;
      font-variant: small-caps;
      letter-spacing: 0.1vw;
    }
  }
}
