// background colors
$white: #FFF;
$alabaster: #F9F9F9; // wrapper & footer
$viking: #50d8d7;  // main
$wedgewood: #547aa5;  // about
$trout: #4f5165;  // skills
$tundora: #474044; // testimonials
$outerSpace: #293132;  // featured code

// font colors
$seashell: #F1F1F1;



// typography
@import url('https://fonts.googleapis.com/css?family=Lato');
$titlesAndShowcase: 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Hind');
$bigHeadings: 'Hind', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Inconsolata');
$subHeadings: 'Inconsolata', monospace;

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
$textBody : 'Josefin Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Kreon');
$typewriter: 'Kreon', serif;

@import url('https://fonts.googleapis.com/css?family=Lato');
$footerFont: 'Lato', sans-serif;
