// colors
$codGray: #1c1c1c;
$gallery: #eeeeee;
$tundora: #4e4e4e;
$mineShaft: #383838;

// live colors

$tamarilo: #a00e0e;
$schoolBusYellow: #ffdd02;
$hippieBlue: #5f96ac;



// typography
@import url('https://fonts.googleapis.com/css?family=Lato');
$footerFont: 'Lato', sans-serif;
