// colors
$codGray: #1c1c1c;
$gallery: #eeeeee;
$tundora: #4e4e4e;

// live colors

$tamarilo: #a00e0e;
$red: #d71a21;
$smoothYellow: #f8ddab;
$hippieBlue: #5f96ac;
$darkBlue: #00324D;



// typography
@import url('https://fonts.googleapis.com/css?family=Lato');
$footerFont: 'Lato', sans-serif;
